.LevelView {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --selection-color: #68cf60;
  --selection-color-fade: #68cf6010;
  padding: 5px;
  transition: background-color 0.1s ease;
}

.LevelView.selected {
  background-color: var(--selection-color-fade);
}

.LevelView .title {
  transition: color 0.1s ease;
  user-select: none;
}

.LevelView.selected .title {
  color: var(--selection-color);
}

.LevelView .view-container {
  position: relative;
  overflow: hidden;
  aspect-ratio: var(--image-aspect-ratio);
  --pointer-radius: 100px;
  --pointer-scale: 2;
}

.SideBySideView.fade-pointer .LevelView:hover .view-container .pointer {
  opacity: 0.2;
}

.LevelView .view-container .pointer {
  position: absolute;
  transition: opacity 0.1s ease-out;
  transform-origin: var(--pointer-x) var(--pointer-y);
  transform: scale(var(--pointer-scale));
  clip-path: circle(calc(var(--pointer-radius) / var(--pointer-scale)) at var(--pointer-x, 0) var(--pointer-y, 0));
  pointer-events: none;
}

.LevelView .view-container .pointer-shape {
  position: absolute;
  left: calc(var(--pointer-x) - var(--pointer-radius));
  top: calc(var(--pointer-y) - var(--pointer-radius));
  width: calc(2 * var(--pointer-radius));
  height: calc(2 * var(--pointer-radius));
  border-radius: var(--pointer-radius);
  pointer-events: none;
}

.LevelView:hover .view-container .pointer-shape {
  box-shadow: 0 0 10px 5px #0008;
}

.LevelView .view-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  user-select: none;
}